/*background: #8875FF; blueishpurple*/
/*background: #ffe382; yellow*/

body {
   font-family: minion-pro, museo-sans, "Lucida Grande", serif !important;
   background: #ddd;
   margin: 0px;
}

#header_div {
   padding-top: 10px;
   background: #ffe382;
}

#blog_title {
   font-family: 'Oleo Script', cursive;
   font-weight: bold;
   display: block;
   margin-left: 2em;
   font-size: 3em;
   height: 2em;
}
#blog_title.sticky {
   position: fixed;
   top: 0px;
   z-index: 3;
}

#padtitle {
   height: 0px;
   visibility: hidden;
}
#padtitle.sticky {
   font-family: 'Oleo Script', cursive;
   font-weight: bold;
   display: block;
   margin-left: 2em;
   height: 2em;
   font-size: 3em;
   visibility: visible;
}

#search_div {
   width: 90%;
   text-align: right;
}

#fixedbar {
   background: #aaa;
   display: block;
   padding: 10px;
   height: 2em;

   -moz-box-shadow: 0px 3px 0px 1px #ccc;
   -webkit-box-shadow: 0px 3px 0px 1px #ccc;
   box-shadow: 0px 3px 0px 1px #ccc;
}
#fixedbar.sticky {
   position: fixed;
   z-index: 2;
   top: 0px;
   width: 100%;
}

#pad1 {
   height: 0px;
   visibility: hidden;
}
#pad1.sticky {
   background: #f00;
   visibility: visible;
   padding: 10px;
   height: 2em;
}

.centered_column {
   max-width: 650px;
   margin: 20px;
   padding: 20px;
}

.centered_column, #sidebar_div {
   border: 1px solid #aaa;
   background: #fff;;

   -moz-box-shadow: 5px 5px 0px 1px #ccc;
   -webkit-box-shadow: 5px 5px 0px 1px #ccc;
   box-shadow: 5px 5px 2px 0px #ccc;
}

#sidebar_div {
   position: absolute;
   margin-left: 750px;
   margin-top: 20px;
   width: 200px;
   background: #fff;
   border: 1px solid #aaa;
}

#sidebar_div p {
   padding-left: 10px;
   padding-right: 10px;
}

.textblock {
   font-size: 18px;
   line-height: 1.5;
   border-bottom: 1px solid #aaa;
   margin-bottom: 1em;
   padding-bottom: 1em;
   text-align: justify;
}

.textblock h1 {
   font-size: 24px;
   font-weight: bold;
}
.textblock h2 {
   font-size: 18px;
   font-weight: bold;
}
.textblock h3 {
   font-size: 18px;
   font-weight: normal;
}

.textblock blockquote {
   display: block;
   border: 1px solid #ddd;
   background: #eee;
   padding: 25px;
}

.textblock code {
   border: 1px solid #ddd;
   background: #eee;
   padding-left: 5px;
   padding-right: 5px;
   padding-top: 2px;
   padding-bottom: 2px;
}

.textblock pre {
   border: 1px solid #ddd;
   width: 100%;
   overflow: scroll;
   background: #eee;
}
.textblock pre code {
   border: none;
   padding: 0px;
}

.left_float_img {
   float: left;
   clear: both;
   padding: 5px;
}

a .left_float_img {
   text-decoration: none;
}

.post_head {
   padding-left: 1em;
   padding-right: 1em;
   padding-top: 5px;
   border-bottom: 1px solid #aaa;
/*   background: #ff0;*/
}

.post_head h1 {
   margin: 0px;
   padding-bottom: 0;
   font-size: 16pt;
/*   background: #0ff;*/
}

.post_head h2 {
   margin: 0;
   padding-bottom: 0;
   font-size: 12pt;
   font-weight: normal;
}

#below_post {
/*   background: #00f;*/
   clear: both;
}

.post_head .calendar {
   float: right;
}

.calendar {
   min-width: 3em;
   text-align: center;
}

.calendar > span:first-child {
   background: #f02020;
   display: block;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   -moz-border-top-left-radius: 5px;
   -moz-border-top-right-radius: 5px;
   min-height: 1.3em;
}
@media print {
   .calendar > span:first-child {
      background: #fff;
      border: 1px solid #ddd;
   }
}

.calendar > span + span {
   background: #fff;
   display: block;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   font-weight: bold;
   border-bottom: 1px solid #ddd;
   border-left: 1px solid #ddd;
   border-right: 1px solid #ddd;
}

.entry_list_item {
   margin-bottom: 1em;
   border: 1px solid #ddd;
   padding: 5px;
}

.entry_list_details span {
   display: block;
}

.entry_list_item > a {
   text-decoration: none;
}

.entry_list_item h1 {
   margin: 0px;
   padding-bottom: 0;
   font-size: 16pt;
}

.entry_list_item > .calendar {
   float: right;
}

.date_group {
   font-weight: bold;
   margin-top: 2em;
   margin-bottom: 5px;
   padding: 5px;
   background: #8875FF;

   margin-left: -5px;
   margin-right: -5px;
   border-radius: 07px;
   -moz-border-radius: 07px;
}
